* {
    margin: 0;
    padding: 0;
    font-size: 1.25vw;
}
#main-content{
    display: flex;
    flex-wrap: wrap;
}
body {
    color: white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.151), rgba(30, 30, 30, 0.785)) padding-box, linear-gradient(to bottom, rgb(239, 120, 128), rgb(255, 204, 183), rgb(193, 76, 111), rgb(121, 63, 92)) border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0;
    font-family: 'Dancing Script', 'cursive';
}


.loader-wrapper,
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-image: url('../images/Loading.gif'); */
    /* background-size: contain; */
    /* background-position: center; */
    /* background-repeat: none; */
    /* background-attachment: fixed; */
    background-color: rgb(51, 73, 95);
    transition: opacity 4.5s ease;
    z-index: 1;
}

.hide-preloader {
    opacity: 0;
    background: none;
    pointer-events: none;
}

/* #background-image {
    box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.2);
} */

#main-content {
    width: 100%;
    display: flex;

}

#background {
    background-image: url("../images/Background.jpg");
    background-position: top;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    margin: 2% auto 0 2%;
    border-radius: 20px;
    /* justify-content: left; */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    position: relative;
    /* justify-content: space-between; */
    /* min-width: 60vw; */
    max-width: 819.219px;
    aspect-ratio: 819.219/600.297;
    
}


#searchbar {
    display: flex;
    position: relative;
    left: 2%;
}

#top {
    display: flex;
    justify-content: space-between;
    width: 60%;
    border-radius: 20px;
    background-color: rgba(55, 55, 55, 0.5);
    backdrop-filter: blur(5px);
    padding: 2% 4% 2% 4%;
    border: 1.75px solid whitesmoke;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: 2vh;
}

#info {
    margin: 2% 2% 0 2%;
    border-radius: 20px;
    height: 90vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    width: 30vw;
    aspect-ratio: 384/600.297;
    /* min-width: 60vw; */
    
}

.content {
    border-radius: 20px;
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: center;
}


#searchbox {
    margin: 2%;
    padding: 1% 2% 1% 2%;
    background-color: white;
    border-radius: 50vh;
    height: 6vh;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: black;
    transition: 1s;
}

#searchbox:hover {
    background-color: white;
}

#searchbox input {
    width: 0px;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.8s;
}

#searchbox:hover input {
    width: 20vw;
}

#searchbox:hover i {
    color: black;
}

.fa {
    color: white;
}

#weather-stat {
    height: 20vh;
    display: flex;
    /* justify-content: space-between; */
}

#weather-gif {
    height: 20vh;
}

#stats {
    display: grid;
    grid-template-columns:auto auto ;
    grid-row-gap: 1rem;
    /* justify-content: space-between; */
    width: 60%;
    border-radius: 20px;
    background-color: rgba(55, 55, 55, 0.5);
    backdrop-filter: blur(5px);
    padding: 2% 4% 2% 4%;
    border: 1.75px solid whitesmoke;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

#stats-heading,
#stats-val{
    font-weight: bold;
    display: grid;
    grid-row-gap: 1rem;
}

#stats-heading p {
    text-align: left;
}

#stats-val p {
    text-align: right;
}

#date-and-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#day-forecast {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.forecast {
    /* display: flexbox; */
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgba(55, 55, 55, 0.5);
    backdrop-filter: blur(15px);
    padding: 2% 4% 2% 4%;
    border: 1.75px solid whitesmoke;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    width: 18%;
    transition: transform 0.2s;
    min-height: 25vh;
    padding: 2%;
}

.forecast:hover {
    background-color: rgba(75, 75, 75, 0.3);
    z-index: 1;
    transform: scale(1.25);
    cursor: pointer;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}